<ion-header>
    <ion-toolbar>
        <ion-buttons color="light" slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Change Password</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <!-- <div class="mt-10" align="center">
    <img src="assets/l3.png" class="bg-red-600 rounded-md p-2" />
  </div> -->

    <div align="center">

        <h1 class="text-lg text-black">Reset Your Password</h1>
        <p class="text-xs text-gray-600">Enter a new password

        </p>
    </div><br>

    <div class="ion-margin" class="ion-padding">
        <form #form_password_update="ngForm">

        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">
            <input type="text" class="form__input" placeholder=" " name="pass1" ngModel>
            <label for="" class="form__label">New Password</label>
        </div>

        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">
            <input type="text" class="form__input" placeholder=" " name="pass2" ngModel>
            <label for="" class="form__label">Confirm Password</label>
        </div>
        <ion-text color="danger" class="error_text" *ngIf="password_errors">New password and confirm password must be same.

        </ion-text>

        <ion-button expand="block" color="primary" (click)="update_password(form_password_update)">Update Password</ion-button>
</form>


    </div>


</ion-content>