<div class="flex justify-between  shadow-2xl footer_div">
    <div class="pl-4">
        <ion-tab-button tab="home" routerLink="/dashboard">
            <ion-label class="text-white text-md">Home</ion-label>
            <ion-icon class="text-white text-md" name="home"></ion-icon>
        </ion-tab-button>
    </div>
    <div>
        <ion-tab-button tab="account" routerLink="/preference">
            <ion-label class="text-white text-md">Preferences</ion-label>
            <ion-icon class="text-white text-md" name="options"></ion-icon>
        </ion-tab-button>
    </div>
    <div>
        <ion-tab-button tab="account" routerLink="/filter">
            <ion-label class="text-white text-md">Search</ion-label>
            <ion-icon class="text-white text-md" name="search"></ion-icon>
        </ion-tab-button>
    </div>
    <div>
        <ion-tab-button tab="account" routerLink="/packages">
            <ion-label class="text-white text-md">Premium</ion-label>
            <ion-icon class="text-white text-md" name="chatbox-ellipses"></ion-icon>
        </ion-tab-button>
    </div>
    <div>
        <ion-tab-button tab="account" routerLink="/profile">
            <ion-label class="text-white text-md">Profiles</ion-label>
            <ion-icon class="text-white text-md" name="people"></ion-icon>
        </ion-tab-button>
    </div>


    <!-- <div>
        <ion-tab-button tab="account" routerLink="/login">
            <ion-label class="text-white text-md">Franchise Enquiry</ion-label>
            <ion-icon class="text-white text-md" name="alert-circle"></ion-icon>
        </ion-tab-button>
    </div> -->
</div>