<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> Shortlist </ion-title>
    <!-- <ion-icon slot="end" color="light" class="text-lg pr-2" name="notifications-outline"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="mt-5 p-2">
      <ion-segment (ionChange)="segmentChanged($event)" scrollable value="{{switchTab}}" mode="ios">
        <ion-segment-button value="1">
          <ion-label>Shortlisted Me</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Shortlisted By Me </ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="p-2" *ngIf="switchTab === '1'">

      <ion-card routerLink="/brideprofile/{{gl.id}}" class="shadow-md" *ngFor="let gl of shortlist_to_me">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <span class="img_watermark">Sanskriti weddings</span>

              <img *ngIf="gl.userprofilephoto.length<1" class="img2" src="assets/myimage.jpg">
              <img *ngIf="gl.userprofilephoto.length>0" class="img2"
                src="{{url.imageurl}}{{gl.userprofilephoto[0].file_name}}" />

            </ion-col>
            <ion-col size="8">
              <p class="text-black text-base font-bold">{{gl.name}}</p>
              <p class="text-gray-700 text-sm">{{gl.age ? gl.age :''}} | {{gl.height ? gl.height : ''}} |
                {{gl.marital_status ? gl.marital_status : ''}}</p>
              <p class="text-gray-700 text-sm mt-2">
                <ion-icon name="school-outline" class="text-sm text-red-600"></ion-icon>&nbsp;
                {{gl.education ? gl.education['education_name'] : ''}}
              </p>
              <p class="text-gray-700 text-sm ">
                <ion-icon name="location-outline" class="text-sm text-red-600"></ion-icon>&nbsp;
                {{gl.state ? gl.state.state_name : ''}}
              </p>
              <p class="text-gray-700 text-sm ">
                <ion-icon name="flag-outline" class="text-sm text-red-600"></ion-icon>
                &nbsp;{{gl.religion ? gl.religion : ''}}, {{gl.caste ? gl.caste['caste_name'] :'' }}
              </p>

            </ion-col>

          </ion-row>
         
        </ion-grid>
      </ion-card>
        <ion-text class="not_found" *ngIf="no_shortlist_to_me_interest">No one shortlisted you yet.</ion-text>


    </div>
    <div class="p-2" *ngIf="switchTab === '2'">

      <ion-card routerLink="/brideprofile/{{gl.id}}" class="shadow-md" *ngFor="let gl of shortlist_by_me">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <span class="img_watermark">Sanskriti weddings</span>

              <img *ngIf="gl.userprofilephoto.length<1" class="img2" src="assets/myimage.jpg">
              <img *ngIf="gl.userprofilephoto.length>0" class="img2"
                src="{{url.imageurl}}{{gl.userprofilephoto[0].file_name}}" />

            </ion-col>
            <ion-col size="8">
              <p class="text-black text-base font-bold">{{gl.name}}</p>
              <p class="text-gray-700 text-sm">{{gl.age ? gl.age :''}} | {{gl.height ? gl.height : ''}} |
                {{gl.marital_status ? gl.marital_status : ''}}</p>
              <p class="text-gray-700 text-sm mt-2">
                <ion-icon name="school-outline" class="text-sm text-red-600"></ion-icon>&nbsp;
                {{gl.education ? gl.education['education_name'] : ''}}
              </p>
              <p class="text-gray-700 text-sm ">
                <ion-icon name="location-outline" class="text-sm text-red-600"></ion-icon>&nbsp;
                {{gl.state ? gl.state.state_name : ''}}
              </p>
              <p class="text-gray-700 text-sm ">
                <ion-icon name="flag-outline" class="text-sm text-red-600"></ion-icon>
                &nbsp;{{gl.religion ? gl.religion : ''}}, {{gl.caste ? gl.caste['caste_name'] :'' }}
              </p>

            </ion-col>

          </ion-row>
         
        </ion-grid>
      </ion-card>
      <ion-text class="not_found" *ngIf="no_shortlist_by_me_interest">You have not shortlisted anyone yet.</ion-text>

    </div>
  </div>

  <div class="loader" *ngIf="loader_visibility">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
  </div>


</ion-content>
