<ion-header>
    <ion-toolbar>
        <ion-buttons color="light" slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Contest</ion-title>
        <!-- <ion-icon slot="end" color="light" class="text-lg pr-2" name="notifications-outline"></ion-icon> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="p-2 mt-3 text-center" [innerHTML]="contest_info">
      
    </div>
  
    <div class="loader" *ngIf="loader_visibility">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 50 50">
          <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
      </div>
</ion-content>