<ion-header>
    <ion-toolbar>
        <ion-buttons color="light" slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light"> Advance Search </ion-title>
        <!-- <ion-icon slot="end" color="light" class="text-lg pr-2" name="notifications-outline"></ion-icon> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-margin" class="ion-padding pt-4 bg-gray-100">
        <p class="text-lg text-black font-bold">Basic<br>
        </p>
        <p class="pt-3">
            Age
        </p><br>
        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">25</ion-select-option>
                <ion-select-option value="n64">26</ion-select-option>
                <ion-select-option value="ps">28</ion-select-option>
                <ion-select-option value="nes">21</ion-select-option>
                <ion-select-option value="n64">23</ion-select-option>
                <ion-select-option value="ps">30</ion-select-option>
            </ion-select>
            <label for="" class="form__label">Select max Age</label>
        </div>

        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">25</ion-select-option>
                <ion-select-option value="n64">26</ion-select-option>
                <ion-select-option value="ps">28</ion-select-option>
                <ion-select-option value="nes">21</ion-select-option>
                <ion-select-option value="n64">23</ion-select-option>
                <ion-select-option value="ps">30</ion-select-option>


            </ion-select>
            <label for="" class="form__label">Select min Age</label>
        </div>



        <p class="pt-1">
            Height
        </p><br>


        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">5.12</ion-select-option>
                <ion-select-option value="n64">4.9</ion-select-option>
                <ion-select-option value="ps">5.2</ion-select-option>
                <ion-select-option value="genesis">5.5</ion-select-option>
                <ion-select-option value="saturn">5.3</ion-select-option>


            </ion-select>
            <label for="" class="form__label">Select max Height</label>
        </div>

        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">5.12</ion-select-option>
                <ion-select-option value="n64">4.9</ion-select-option>
                <ion-select-option value="ps">5.2</ion-select-option>
                <ion-select-option value="genesis">5.5</ion-select-option>
                <ion-select-option value="saturn">5.3</ion-select-option>

            </ion-select>
            <label for="" class="form__label">Select min Height</label>
        </div>

        <p class="pt-1">
            Marital Status
        </p><br>



        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">
                <ion-select-option value="nes">Anulled</ion-select-option>
                <ion-select-option value="n64">Never married</ion-select-option>
                <ion-select-option value="ps">Divorced</ion-select-option>
                <ion-select-option value="genesis">Widowed</ion-select-option>
                <ion-select-option value="saturn">Awaiting Divorce</ion-select-option>


            </ion-select>
            <label for="" class="form__label"></label>
        </div>
    </div>


    <div class="ion-margin" class="ion-padding pt-4 bg-gray-100 mt-3">
        <p class="text-lg text-black font-bold">Religion & Ethnicity</p><br>

        <p class="pt-1">
            Religion
        </p><br>

        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">Hindu</ion-select-option>
                <ion-select-option value="n64">Sikh</ion-select-option>
                <ion-select-option value="ps">Muslim</ion-select-option>
                <ion-select-option value="genesis">Buddhist</ion-select-option>
                <ion-select-option value="saturn">Jain</ion-select-option>

            </ion-select>
            <label for="" class="form__label">Select Religion</label>
        </div>

        <p class="pt-1">
            Caste
        </p><br>

        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">Mali</ion-select-option>
                <ion-select-option value="n64">Kunbi</ion-select-option>
                <ion-select-option value="ps">Teli</ion-select-option>

            </ion-select>
            <label for="" class="form__label">Select Caste</label>
        </div>

        <p class="pt-1">
            Mother Tongue
        </p><br>
        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">Mali</ion-select-option>
                <ion-select-option value="n64">Kunbi</ion-select-option>
                <ion-select-option value="ps">Teli</ion-select-option>

            </ion-select>
            <label for="" class="form__label">Select Mother Tongue</label>
        </div>


        <p class="pt-1">
            Manglik
        </p><br>
        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">Manglik</ion-select-option>
                <ion-select-option value="n64">Non Manglik</ion-select-option>
                <ion-select-option value="ps">Angshik(partial)</ion-select-option>

            </ion-select>
            <label for="" class="form__label">Select Manglik</label>
        </div>
    </div>


    <div class="ion-margin" class="ion-padding pt-4 bg-gray-100 mt-3">
        <p class="text-lg text-black font-bold"> Highest Education</p>


        <p class="pt-1">
            Education
        </p><br>

        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">Science</ion-select-option>
                <ion-select-option value="n64">Commerce</ion-select-option>
                <ion-select-option value="ps">Art</ion-select-option>
                <ion-select-option value="genesis">Bachelor in Education</ion-select-option>
                <ion-select-option value="saturn">Bachelor in Computer Application</ion-select-option>

            </ion-select>
            <label for="" class="form__label">Select Education </label>
        </div>
        <p class="pt-1">
            Employed in
        </p><br>

        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">Army/Armed Forces</ion-select-option>
                <ion-select-option value="n64">Business/Enterprenure</ion-select-option>
                <ion-select-option value="ps">Civil Services</ion-select-option>
                <ion-select-option value="genesis">Expired</ion-select-option>
                <ion-select-option value="saturn">Retired</ion-select-option>


            </ion-select>
            <label for="" class="form__label">Select Employee</label>
        </div>

        <p class="pt-1">
            Occupation
        </p><br>
        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">Science</ion-select-option>
                <ion-select-option value="n64">Commerce</ion-select-option>
                <ion-select-option value="ps">Art</ion-select-option>
                <ion-select-option value="genesis">Bachelor in Education</ion-select-option>
                <ion-select-option value="saturn">Bachelor in Computer Application</ion-select-option>

            </ion-select>
            <label for="" class="form__label">Select Occupation</label>
        </div>

        <p class="pt-1">
            Income
        </p><br>
        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">1 Lac</ion-select-option>
                <ion-select-option value="n64">2.5 Lac</ion-select-option>
                <ion-select-option value="ps">5 Lac</ion-select-option>
                <ion-select-option value="genesis">8 Lac</ion-select-option>

            </ion-select>
            <label for="" class="form__label">Select Annual Income</label>
        </div>
    </div>


    <div class="ion-margin" class="ion-padding pt-4 bg-gray-100 mt-3">
        <p class="text-lg text-black font-bold"> Lifestyle</p>
        <p class="pt-1">
            Diet Type
        </p><br>

        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">Vegetarian</ion-select-option>
                <ion-select-option value="n64">Non-Vegetarian</ion-select-option>
                <ion-select-option value="ps">Eggetarian</ion-select-option>

            </ion-select>
            <label for="" class="form__label">Select Diet Type</label>
        </div>

        <p class="pt-1">
            Drink Type
        </p><br>

        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">Yes</ion-select-option>
                <ion-select-option value="n64">No</ion-select-option>
                <ion-select-option value="ps">Occasionally</ion-select-option>

            </ion-select>
            <label for="" class="form__label">Select Drink Type</label>
        </div>


        <p class="pt-1">
            Smoke Type
        </p><br>
        <div class="form__div" style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

            <ion-select class="form__input">

                <ion-select-option value="nes">Yes</ion-select-option>
                <ion-select-option value="n64">No</ion-select-option>
                <ion-select-option value="ps">Occasionally</ion-select-option>

            </ion-select>
            <label for="" class="form__label">Select Smoke Type</label>
        </div>

        <ion-button expand="block" color="danger " routerLink="">Submit</ion-button>
    </div>
</ion-content>