<ion-content class="ion-paddding bgcolor">

  <div class="mt-12 mb-5 ion-padding" align="center">
    <img class="logo_img" src="assets/logo1.png" />
    <h1 class="header">Reset Password</h1>
    <h3 class="header">Please enter your new password </h3>
  </div>
  <div class="ion-margin" class="ion-padding">

    <form #form_login="ngForm">

      <div class="form__div" mode="ios">
        <input type="password" class="form__input" placeholder=" " ngModel name="pass1">
        <label for="" class="form__label">New Password</label>
      </div>
      <div class="form__div" mode="ios">
        <input type="password" class="form__input" placeholder=" " ngModel name="pass2">
        <label for="" class="form__label">Confirm Password</label>
      </div>
      <ion-text class="error_msg" color="danger" *ngIf="password_errors">New password and confirm password must be same.</ion-text>
        <ion-text class="error_msg" color="danger" *ngIf="fill_all">Please enter both the fields.
        </ion-text>
      <!-- <p class="text-red-600 text-sm pl-2 error">Error </p> -->

      <div class="mt-4">
        <ion-button expand="block" color="primary" (click)="update_password(form_login)">Submit</ion-button>
      </div>
    </form>

  </div>


  <div class="loader" *ngIf="loader_visibility">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
  </div>
</ion-content>
