<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> {{user_info && user_info.name ? user_info.name : ''}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-2">

    <div class="p-2">
      <swiper [slidesPerView]="1" [loop]="true"  class="slider_image" *ngIf="user_info && user_info.userphoto.length>0">
        <ng-template swiperSlide *ngFor="let img of user_info.userphoto"> 
          <span class="img_watermark">Sanskriti weddings</span>
          
          <ion-img-viewer class="slider_img" title="{{user_info && user_info.name ? user_info.name : ''}}" scheme="light"
          src="{{url.imageurl}}{{img.file_name}}">
        </ion-img-viewer>
      </ng-template>
      </swiper>

      <swiper [slidesPerView]="1" [loop]="true"  class="slider_image" *ngIf="user_info && user_info.userphoto.length<1">
        <ng-template swiperSlide> 
          <span class="img_watermark">Sanskriti weddings</span>          
          <img class="slider_img"  src="assets/myimage.jpg">
      </ng-template>
      </swiper>

      

  
    </div>

    <div class="pl-4 mt-2">
      <ion-grid>
       
       


        <ion-row>
          <ion-col size="4">
            <ion-button size="small" expand="block" shape="round" fill="outline" (click)="shortlist_user()">
              <ion-icon class="text-sm" name="star-outline"></ion-icon> &nbsp;Shortlist
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button size="small" expand="block" shape="round" (click)="send_user_interest()"><span class="text-white">
              <ion-icon class="text-sm" name="paper-plane"></ion-icon> &nbsp;Interest
            </span></ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button size="small" expand="block" shape="round" fill="outline" (click)="contact_user()">
              <ion-icon class="text-sm" name="eye-outline"></ion-icon> &nbsp;Contact
            </ion-button>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </div>


    <div class="mt-2">
      <ion-segment (ionChange)="segmentChanged($event)" scrollable value="all">
        <ion-segment-button value="basic">
          <ion-label color="primary">Basic Details</ion-label>
        </ion-segment-button>
        <ion-segment-button value="career">
          <ion-label color="primary">Career & Education </ion-label>
        </ion-segment-button>
        <ion-segment-button value="lifestyle">
          <ion-label color="primary">Lifestyle </ion-label>
        </ion-segment-button>
        <ion-segment-button value="family">
          <ion-label color="primary">Family </ion-label>
        </ion-segment-button>
        <ion-segment-button value="communication">
          <ion-label color="primary">Communication </ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="p-2" *ngIf="switchTab === 'basic'">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="5">
            <ion-label class="text-sm">Birthdate </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label class="text-sm">
              <b>{{user_info && user_info.dob ? (user_info.dob|date: 'dd/MM/yyyy') : 'N/A' }}</b>
            </ion-label>
          </ion-col>

          <ion-col size="5">
            <ion-label class="text-sm">Religion </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"> <b>{{user_info && user_info.religion ? user_info.religion : 'N/A'}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm"> Mother Tongue </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"><b>{{user_info && user_info.language ? user_info.language : 'N/A'}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">Caste </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"><b>{{user_info && user_info.caste ? user_info.caste['caste_name'] : 'N/A'}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">Sub Caste </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm">
              <b>{{user_info && user_info.subcaste ? user_info.subcaste['subcaste_name'] :'N/A'}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">Mangalik </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"><b>{{user_info && user_info.manglik ? user_info.manglik :'N/A' }}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">Horoscope </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm">
              <b>{{user_info && user_info.horescope_match ? user_info.horescope_match : 'N/A'}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">Height </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"><b> {{user_info && user_info.height ? user_info.height : 'N/A'}}</b> </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm"> Blood Group </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"> <b>{{user_info && user_info.blood_group ? user_info.blood_group : 'N/A'}}</b>
            </ion-label>
          </ion-col>


        </ion-row>
      </ion-grid>
    </div>
    <div class="p-2" *ngIf="switchTab === 'career'">
      <ion-grid fixed>
        <ion-row>

          <ion-col size="5">
            <ion-label class="text-sm">Highest Education </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label class="text-sm">
              <b>{{user_info && user_info.education ? user_info.education['education_name'] : 'N/A'}}</b>
            </ion-label>
          </ion-col>

          <ion-col size="5">
            <ion-label class="text-sm">Annual Yearly Income </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm">
              <b>{{user_info && user_info.annual_income ? user_info.annual_income : 'N/A'}}</b></ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">Employed In </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"><b> {{user_info && user_info.company_name ? user_info.company_name : 'N/A'}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm"> Occupation </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm">
              <b>{{user_info && user_info.occupationcategory ? user_info.occupationcategory['occupation_category_name'] : 'N/A'}}</b>
            </ion-label>
          </ion-col>


        </ion-row>
      </ion-grid>
    </div>
    <div class="p-2" *ngIf="switchTab === 'lifestyle'">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="5">
            <ion-label class="text-sm">Diet </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label class="text-sm"><b>{{user_info && user_info.diet ? user_info.diet : 'N/A'}}</b> </ion-label>
          </ion-col>

          <ion-col size="5">
            <ion-label class="text-sm">Drink </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"> <b>{{user_info && user_info.drink ? user_info.drink : 'N/A'}}</b></ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">Smoke </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"><b> {{user_info && user_info.smoke ? user_info.smoke : 'N/A'}}</b> </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="p-2" *ngIf="switchTab === 'family'">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="5">
            <ion-label class="text-sm">Family Type </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label class="text-sm"><b>{{user_info && user_info.family_type ? user_info.family_type : 'N/A'}}</b>
            </ion-label>
          </ion-col>

          <ion-col size="5">
            <ion-label class="text-sm">Family Income </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm">
              <b>{{user_info && user_info.family_income ? user_info.family_income : 'N/A'}}</b></ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">Father Occupation </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"><b>
                {{user_info && user_info.father_occupation ? user_info.father_occupation : 'N/A'}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">Mother Occupation </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm">
              <b>{{user_info && user_info.mother_occupation ? user_info.mother_occupation : 'N/A'}}</b>
            </ion-label>
          </ion-col>

          <ion-col size="5">
            <ion-label class="text-sm">Sister </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"><b> {{user_info && user_info.sister ? user_info.sister : 'N/A'}}</b> </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">Brother </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"><b>{{user_info && user_info.brother ? user_info.brother : 'N/A'}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">Sister Married </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm">
              <b>{{user_info && user_info.sister_married ? user_info.sister_married : 'N/A'}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">Brother Married</ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"><b>
                {{user_info && user_info.brother_married ? user_info.brother_married : 'N/A'}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">About Family </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"><b> {{user_info && user_info.about_family ? user_info.about_family : 'N/A'}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">About Myself</ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"><b> {{user_info && user_info.about_myself ? user_info.about_myself : 'N/A'}}</b>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="p-2" *ngIf="switchTab === 'communication'">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="5">
            <ion-label class="text-sm">Address </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label class="text-sm"> <b>{{user_info && user_info.address ? user_info.address : 'N/A'}}</b>
            </ion-label>
          </ion-col>


          <ion-col size="5">
            <ion-label class="text-sm">State </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"> <b>{{user_info && user_info.state ? user_info.state['state_name'] : 'N/A'}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">City </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"> <b>{{user_info && user_info.city ? user_info.city['city_name'] : 'N/A'}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="text-sm">Pincode </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="text-sm"> <b>:</b> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="text-sm"> <b>{{user_info && user_info.pincode ? user_info.pincode : 'N/A'}}</b>
            </ion-label>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>


    <div class="loader" *ngIf="loader_visibility">
      <svg class="spinner" width="65px" height="65px" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
    </div>


    <div class="custom_modal" id="query_modal">
      <ion-row class="icon_row" (click)="close_modal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-row>
      <ion-label>Contact Information.</ion-label>
      <ion-label class="call_email"><ion-icon name="call-outline"></ion-icon>
        <a href="tel:+{{user_info && user_info.mobile ? user_info.mobile : 'N/A'}}">{{user_info && user_info.mobile ? user_info.mobile : 'N/A'}}</a> 
      </ion-label>
      <ion-label class="call_email"><ion-icon name="mail-outline"></ion-icon>
        <a href="mailto:{{user_info && user_info.email ? user_info.email : 'N/A'}}">{{user_info && user_info.email ? user_info.email : 'N/A'}}</a> 
      </ion-label>
     
  
    </div>


  </div>
</ion-content>
