<ion-header>
    <ion-toolbar>
        <ion-buttons color="light" slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Upload Photos </ion-title>
        <!-- <ion-icon slot="end" color="light" class="text-lg pr-2" name="notifications-outline"></ion-icon> -->
    </ion-toolbar>
</ion-header>
<ion-content>
    <div align="center" class="p-3">
        <ion-label>Profile with photos get 8 times more responses</ion-label>
    </div>

    <div class="p-2">
        <ion-card class="p-2 bg-white"><br>
            <div class="form__div" style="  font-family: sans-serif;" mode="ios">
                <input type="file" id="file" class="form__input" placeholder="">
                <label for="" class="form__label">Upload Photos</label>
            </div>
            <ion-button style="margin-top: -5%;" expand="block" color="danger " routerLink="">Submit</ion-button>

        </ion-card>


    </div>

    <div class="pl-2">
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <img src="assets/pp3.jpg">
                </ion-col>
                <ion-col size="4">
                    <img src="assets/p4.jpg">
                </ion-col>
                <ion-col size="4">
                    <img src="assets/pp5.jpg">
                </ion-col>
                <ion-col size="4">
                    <img src="assets/p7.jpg">
                </ion-col>
                <ion-col size="4">
                    <img src="assets/pp4.jpg">
                </ion-col>
                <ion-col size="4">
                    <img src="assets/p1.jpg">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>