<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> Lifestyle </ion-title>
    <!-- <ion-icon slot="end" color="light" class="text-lg pr-2" name="notifications-outline"></ion-icon> -->
  </ion-toolbar>
</ion-header>
<ion-content>



  <div class="ion-margin" class="ion-padding pt-4">


    <form #lifestyle_form="ngForm">
      <input type="hidden" name="id" [ngModel]="user_info.id">

      <div class="form__div"
        style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

        <ion-select class="form__input" name="diet" [ngModel]="user_info.diet">

          <ion-select-option value="Vegetarian">Vegetarian</ion-select-option>
          <ion-select-option value="Non-Vegetarian">Non-Vegetarian</ion-select-option>
          <ion-select-option value="Eggetarian">Eggetarian</ion-select-option>

        </ion-select>
        <label for="" class="form__label">Select Diet Type</label>
      </div>

      <div class="form__div"
        style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

        <ion-select class="form__input" name="drink" [ngModel]="user_info.drink">

          <ion-select-option value="Yes">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
          <ion-select-option value="Occasionally">Occasionally</ion-select-option>

        </ion-select>
        <label for="" class="form__label">Select Drink Type</label>
      </div>

      <div class="form__div"
        style="border: solid 1px; color: rgb(168, 167, 167); border-radius: 10px; font-family: sans-serif;" mode="ios">

        <ion-select class="form__input" name="smoke" [ngModel]="user_info.smoke">

          <ion-select-option value="Yes">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
          <ion-select-option value="Occasionally">Occasionally</ion-select-option>

        </ion-select>
        <label for="" class="form__label">Select Smoke Type</label>
      </div>

      <ion-button expand="block" color="primary" (click)="submit_form(lifestyle_form)">Submit</ion-button>
    </form>
  </div>

  <div class="loader" *ngIf="loader_visibility">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
  </div>

</ion-content>
