.img2 {
    border-radius: 5%;
    height: 18vh;
    width: 100%;
    object-fit: cover
}
ion-button{
    height: 2rem !important;
    background-color:transparent !important;
    color:var(--ion-color-primary);
}

.img_watermark{
    position:absolute;
    transform:rotate(-90deg);
    color:#ffffff;
    width: 16vh;
    font-size: 0.7em;
    display: inline-block;
    z-index: 9999;
    top:7vh;
    left:3vh;
    opacity: 0.8;

}