<ion-header>
    <ion-toolbar>
        <ion-buttons color="light" slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light"> Settings </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="mt-5 p-2">
        <div align="center">
            <img class="rounded-xl " src="assets/profile1.png" />
            <p class="text-md text-gray-600 pt-2">Name: Shivani Varma <br>Mobile No.: 9867594387<br>Refererer Id: 420</p>
        </div>
        <div align="center">
            <button class="mt-5 text-white small-button-fill px-12 py-2 rounded-xl" style="width: 80%;">Edit Profile</button>
        </div>
        <div class="p-6">
            <ion-card class="p-2">
                <p class="text-black font-medium text-md ">
                    <ion-icon class="text-blue-600 text-2xl" name="wallet-outline"></ion-icon> &nbsp; &nbsp;&nbsp; Wallet/Points</p>
                <p class="text-black font-medium text-md">
                    <ion-icon class="text-green-600 text-2xl" name="share-social-outline"></ion-icon> &nbsp; &nbsp;&nbsp; Share</p>
                <p class="text-black font-medium text-md">
                    <ion-icon class="text-orange-600 text-2xl" name="call-outline"></ion-icon> &nbsp; &nbsp;&nbsp; Contact Us</p>
                <p class="text-black font-medium text-md">
                    <ion-icon class="text-red-800 text-2xl" name="log-out-outline"></ion-icon> &nbsp; &nbsp;&nbsp; Logout</p>
            </ion-card>
        </div>

    </div>
</ion-content>